<!DOCTYPE html>
{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
  
    {% block css %}
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/register.css' %}">
    {% endblock css %}

    <div class="signup-form">
        <form role="form" method="POST">
            {% csrf_token %}
            <h2>Registro Centro Medico Dos Álamos</h2>
            <div class="form-group">
                <div class="row">
                <!--<div class="text-center">
                    <label class="exampleFormControlInput1" class="form-label bg-info">fkMedico:</label>
                    {{comiform.fkMedico}}
                   <input type="text" class="form-control" name="Médico" placeholder="Médico" required="required">
                </div>-->
                                    
                <div class="form-group">
                    <label class="form-label bg-info">Secretaria::</label>
                    {{form.fkSecretaria}}
                    <!--<input type="email" class="form-control" name="email" placeholder="Email" required="required">-->
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label bg-info">Fecha:</label>
                    {{form.fechaIfo}}
                    <!--<input type="date" class="form-control" required="required">-->
                </div>
                <div class="mb-3">
                    <label class="form-label bg-info">Pago:</label>
                    {{form.comision}}
                     <!--<input type="number" class="form-control" name="number" placeholder="Pago" required="required">-->
                </div>    
                <div class="mb-3">
                    <label class="exampleFormControlTextarea1">Cita médica:</label>
                    {{form.fkHoraMedica}}
                     <!--<input type="time" class="form-control" name="last_name" placeholder="Last Name" required="required">-->
                </div> 
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-lg btn-block">Crear comprobante</button>
                </div>
                  <a href="{% url 'informeComisiones'%}" class="bg-warning" title="View" data-toggle="tooltip">Comprobantes</a>
                </div>
            </div>
        </form>
    </div>

{% endblock contenido %} 


