{% load static %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="app/css/index.css"><div class="container-xl">
   
    <div class="table-responsive">
            <div class="table-title">
                <div class="row">
                    <div class="textoPDF"><h2>CENTRO MÉDICO DOS ÁLAMOS</h2><b></b></div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered bg-info">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Secretaria</th>
                        <th>Fecha</th>
                        <th>Comision</th>
                        <th>hora médica</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in info %}
                        <tr>
                            <td>{{p.id | title}}</td>
                            <td>{{p.fkSecretaria | title}} {{p.APatSec | title}}</td>
                            <td>{{p.fechaIfo | title}}</td>
                            <td>{{p.comision | title}}</td>
                            <td>{{p.fkHoraMedica | title}}</td>
                        </tr>
                    {% endfor %}  
                    <div class="logo">
                        <img class="img" src="https://document-export.canva.com/dszlM/DAFBjPdszlM/30/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20220523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220523T185123Z&X-Amz-Expires=16649&X-Amz-Signature=06505e241d8a9bff6426a4c99fbe2324ef3e0eca36c5948a68bbad508557a4d0&X-Amz-SignedHeaders=host&response-expires=Mon%2C%2023%20May%202022%2023%3A28%3A52%20GMT" width="200" height="200" alt="logo de la empresa">
                    </div>
                    <div class="textoPDF"><h2>Lista de Comprobantes</h2><b></b></div>
                    <div class="form-group text-lg-center">
                        <h1>Citas Totales: {{total1}}</h1>
                    </div>
                    <hr>
                </tbody>
            </table>
            <hr>
            <br>
    </div> 
</div>


<footer class="footer">
    <div class="container">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-8  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Centro Medico Dos Álamos</h5>
    <!--headin5_amrc-->
    <p class="mb10">Nuestro propósito es Acoger, Cuidar y Sanar a las familias de Chile, entregándoles salud de calidad y atención cálida y conveniente, a lo largo del país.</p>
    <p><i class="fa fa-location-arrow"></i> Nos ubicamos en: <br> Santa María 2321, Peñalolen</p>
    <p><i class="fa fa-phone"></i> Telefono: +56931189636  y Nuestro correo : Dos_alamosgmail.com </p>
    </div>
    
    <div class=" col-sm-4 col-md  col-8 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Redes Sociales</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <div>
        <div><img src="https://worldschool.xeted.com/pluginfile.php/1/theme_moove/sponsorsimage2/1624987440/facebook.jpg" width="30" height="30" alt="mapa de la empresa">Dos Álamos</div>
        <div><img src="https://conectasoftware.com/wp-content/uploads/2020/03/icono-instagram.png" width="30" height="30" alt="instagram"> Dos_alamos</div>
        <div><img src="https://jorgerobledo.com/wp-content/uploads/2019/12/twitter.jpg" width="30" height="30" alt="twitter"> Dos_alamos</div>
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvBydEo0T1jczaR2xImHoiFrm0LOHt4avwXas8F4w7SL40HfUiv780GeiT3Xf_5LeH0Co&usqp=CAU" width="30" height="30" alt="whatsapp">  +56 931189636</div>
</div>
    </ul>
    </div>
 
  </footer>