{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/register.css' %}">
    {% endblock css %}

  <div class="signup-form">
        <form role="form" method="POST">
            {% csrf_token %}
            <h2>Toma de Hora Centro Medico Galenos</h2>
            <p class="hint-text">Toma tu hora medica.</p>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="form-label bg-info">consulta:</label>
                        {{formTH.consulta}}
                        <!--<input type="text"lass="form-control" name="first_name" placeholder="First Name" required="required">-->
                    </div>
                    <div class="col">
                        <label class="form-label bg-info">fkPaciente:</label>
                        {{formTH.fkPaciente}}
                        <!--<input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required">-->
                    </div>
                    <div class="col">
                        <label class="form-label bg-info">fkHora:</label>
                        {{formTH.fkHora}}
                        <!--<input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required">-->
                    </div>
                    <div class="col">
                        <label class="form-label bg-info">fecha:</label>
                        {{formTH.fecha}}
                        <!--<input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required">-->
                    </div>
                </div>        	
            </div>
            <div class="form-group">
                <label class="form-label bg-info">fkMedico:</label>
                {{formTH.fkMedico}}
                <!--<input type="email" class="form-control" name="email" placeholder="Email" required="required">-->
            </div>
            <div class="form-group">
                <label class="form-label bg-info">fkTipoPago</label>
                {{formTH.fkTipoPago}}
                <!--<input type="password" class="form-control" name="password" placeholder="Password" required="required">-->
            </div>
            <hr>
            <div class="form-group">
                <label class="form-label bg-info">fkPago:</label>
                {{formTH.fkPago}}
                <!--<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">-->
            </div>      
            <div class="form-group">
                <label class="form-check-label"><input type="checkbox" required="required"> Acepto los <a href="#">Terminos y </a> &amp; <a href="#">Politica de privacidad</a></label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info btn-lg btn-block">Tomar Hora / Realizar Pago</button>
            </div>
        </form>
    </div>
    
{% endblock contenido %}